*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 

}
html {
    font-size: 12px;
}
header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
 
}
header .container {
    display: flex;
    justify-content: space-between;
   
}
.logo{
    width: 100%;
  
}
.logo h1 {
    font-size: 50px;
    color:#777;
}
header .logo h2 {
    font-size: 18px;
    color: #aaa;
}
.logo {
    display: flex;
    align-items: center;
    margin: 15px;
}
.btnMenu {
    margin: 10px;
}



.item1 {
    width: 50px;
    height: 50px;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}


.img.card {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

article .info {
    margin: 10px;
    background-color: #EEEEEE;
}

.tag {
    display: flex;
    width: 56px;
    height: 21px;

    background-color: #51D275;
    border-radius: 10.5px;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 10px;
}