*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 

}
html {
    font-size: 12px;
}
header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
 
}
header .container {
    display: flex;
    justify-content: space-between;
   
}
.logo{
    width: 100%;
  
}
.logo h1 {
    font-size: 50px;
    color:#777;
}
header .logo h2 {
    font-size: 18px;
    color: #aaa;
}
.logo {
    display: flex;
    align-items: center;
    margin: 15px;
}
.btnMenu {
    margin: 10px;
}